<!DOCTYPE html>
<html>
  <head>
    <title>Zhihan Data Service</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Zhihan Local Data Center</h1>
    <p>Local service is ready</p>
  </body>
</html>
